.container{
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: rgba(83, 83, 83, 0.5);
    padding: 20px;
    border-radius: 20px;
}

.headline{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}

.inputField{
    width: 300px;
    border-radius: 50px;
    height: 30px;
    padding-left: 10px;
    outline: 0;
    border: 0;
}

.inputField:focus{
    border: 1px solid rgb(153, 153, 153);
}

.inputField:hover{
    border-color: 1px solid rgb(153, 153, 153);
}

.inputContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inputButton{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    outline: 0;
    border: 0;
    background-color: rgb(117, 117, 117);
}

.inputButton:hover{
background-color: rgb(153, 153, 153);
}